<div class="row">
  <div class="col-lg-12">
    <div class="card">
        <form #newWorkStatusForm="ngForm" (ngSubmit)="onSubmit(newWorkStatusForm)">
      <div class="card-header">
        <i class="icon-people"></i> work-status works
      </div>
      <div class="card-body">
        <div class="row">
          <div class="form-group col-sm-4">
            <label for="WorkREMARk">Work Remark Date
              <span style="color:red">*</span>
            </label>
            <input type="text" [minDate]="pastDate" [maxDate]="futureDate" name="remarkdate" required  [(ngModel)]="remarkdate"  
            class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
            [ngClass]="{'red-border-class': !remarkdate1.valid && remarkdate1.touched}" #remarkdate1="ngModel">
            <div *ngIf="!remarkdate1.valid && remarkdate1.touched" style="color:red">
                remark date is required
             </div>
          </div>
         <div class="form-group col-sm-4">
            <label for="WorkREMARk">Select Course
              <span style="color:red">*</span>
            </label>
            <select name="skillname" (change)="fetchSkillCourse($event.target.value)"
            [ngClass]="{'red-border-class': !slillName1.valid && slillName1.touched}" #slillName1="ngModel" 
            class="form-control"  required [(ngModel)]="slillName" name="slillName">
              <option value="">Select skill</option>
              <option *ngFor="let skl of skillsList" [value]="skl.id">{{skl.code}}</option>
            </select>
            <div *ngIf="!slillName1.valid && slillName1.touched" style="color:red">
                        course  is required
                </div>
          </div>
           <div class="form-group col-sm-4">
            <label for="WorkREMARk">Select Course Category
              <span style="color:red">*</span>
            </label>
            <select name="skillelementname"  class="form-control"
            [ngClass]="{'red-border-class': !skillelementname1.valid && skillelementname1.touched}" #skillelementname1="ngModel" 
            class="form-control"  required [(ngModel)]="skillelementname" name="skillelementname">
              <option value="">Select skill</option>
              <option *ngFor="let skl of skillsEleList" [value]="skl.id">{{skl.code}}</option>
            </select>
            <div *ngIf="!skillelementname1.valid && skillelementname1.touched" style="color:red">
                course category is required </div>
          </div>
        </div>
      <div class="row">
          <div class="form-group col-sm-2">
            <label for="WorkREMARk">Start Time
              <span style="color:red">*</span>
            </label>
            <timepicker  [ngClass]="{'red-border-class': !startTime1.valid && startTime1.touched}" #startTime1="ngModel" 
             required [(ngModel)]="startTime" name="startTime" [max]="endTime"  [showMeridian]="ismeridian"></timepicker>
            <div *ngIf="!startTime1.valid && startTime1.touched" style="color:red">
               start time is required </div>
          </div>
           <div class="form-group col-sm-2">
            <label for="WorkREMARk">Start Time
              <span style="color:red">*</span>
            </label>
            <timepicker [(ngModel)]="endTime"   [ngClass]="{'red-border-class': !endTime1.valid && endTime1.touched}" #endTime1="ngModel" 
            required [(ngModel)]="endTime" name="endTime" [min]="startTime" [showMeridian]="ismeridian"></timepicker>
            <div *ngIf="!endTime1.valid && endTime1.touched" style="color:red">
                end time is required </div>
          </div>
          <div class="form-group col-sm-8">
            <label for="WorkREMARk">Remarks
              <span style="color:red">*</span>
            </label>
            <textarea class="form-control"  [ngClass]="{'red-border-class': !remark1.valid && remark1.touched}" #remark1="ngModel" 
            required [(ngModel)]="remark" maxlength="800" name="remark"></textarea>
            <div *ngIf="!remark1.valid && remark1.touched" style="color:red">
           remark is required </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" [disabled]="!newWorkStatusForm.form.valid" class="btn btn-sm btn-primary">Submit</button>
        <button type="reset" class="btn btn-sm btn-warning">Reset</button>
      </div>
      </form>
    </div>
    <app-workstatus-list [workList]="workList"  (childpageEvent)="pageChanged($event)"  [bigTotalItems]="bigTotalItems" (childEvent)="deleteWorkRemorks($event)" ></app-workstatus-list>
 
    <!--  <div class="card" *ngIf="workList?.length > 0">
      <div class="card-header">
        <i class="icon-people"></i> Work Status
      </div>
      <div class="card-body">
     
        <div class="card-body table-responsive" >
          <table class="table table-bordered table-striped table-sm" >
            <thead  style="background-color: #63c2de;color: white;">
              <tr>
                <th>DATE</th>
                <th>FROM TIME</th>
                <th>END TIME</th>
                <th>REMARKS</th>
                <th>Course </th>
                <th>Course Category </th>
                <th>Action </th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let wrk of workList; let i = index ">
              <td>{{wrk.workDate | date: 'dd-MMM-yyyy'}} </td>
              <td>{{wrk.startTime  | date: 'hh:mm:ss a'}} </td>
              <td>{{wrk.endTime  | date: 'hh:mh:ss a'}} </td>
              <td>
                  <ng-template #searchCollege>
                      <div> {{wrk.remarks}}</div>
                    </ng-template>
                    <div class="longText" [tooltip]="searchCollege">{{wrk.remarks}}</div>
                </td>
              <td>{{wrk.skillElementName}}</td>
              <td>{{wrk.skillName}}</td>
             
                <td>
                  <span><button class="badge badge-danger"
                    (click)="deleteWorkRemorks(wrk.workStatusID)">Delete</button></span>

                </td>
             
            </tr>
            </tbody>
          </table>
          <div class="row">
          <div class="col-xs-12 col-12">
            <pagination [totalItems]="bigTotalItems"  [maxSize]="maxSize"  [(ngModel)]="bigCurrentPage"  class="pagination-sm"  (pageChanged)="pageChanged($event)"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" 
                        [boundaryLinks]="true" [rotate]="false"  (numPages)="numPages = $event"></pagination>
          </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>