<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-people"></i>Add Qualification
  
        </div>
        <form #newEducationForm="ngForm" (ngSubmit)="onSubmit(newEducationForm)">
          <div class="card-body">
            <div class="row">
              <div class="form-group col-sm-4">
  
                <label for="courseID">Course Name
                  <span style="color:red">*</span>
                </label>
                <select required [(ngModel)]="courseID" name="courseID" [ngClass]="{'red-border-class': !courseID1.valid && courseID1.touched}"
                  #courseID1="ngModel" class="form-control">
                  <option value="">Select Course</option>
                  <option *ngFor="let course of courseList" [value]="course.courseID">{{course.courseName}}</option>
                </select>
                <div *ngIf="!courseID1.valid && courseID1.touched" style="color:red">
                  course name is required
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <label for="fromMonth">from Date
                  <span style="color:red">*</span>
                </label>
                <select required [(ngModel)]="fromMonth" name="fromMonth" [ngClass]="{'red-border-class': !fromMonth1.valid && fromMonth1.touched}"
                  #fromMonth1="ngModel" class="form-control">
                  <option value="">Select Month</option>
                  <option *ngFor="let mon of ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']" [value]="mon">{{mon}}</option>
                </select>
                <div *ngIf="!fromMonth1.valid && fromMonth1.touched" style="color:red">
                  month is required
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <label for="fromYear">
                  <span>&nbsp;</span>
                </label>
                <select required [(ngModel)]="fromYear" name="fromYear" [ngClass]="{'red-border-class': !fromYear1.valid && fromYear1.touched}"
                  #fromYear1="ngModel" class="form-control">
                  <option value="">Select Year</option>
                  <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                </select>
  
                <div *ngIf="!fromYear1.valid && fromYear1.touched" style="color:red">
                  year is required
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <label for="fromMonth">to Date
                  <span style="color:red">*</span>
                </label>
  
                <select required [(ngModel)]="toMonth" name="toMonth" [ngClass]="{'red-border-class': !toMonth1.valid && toMonth1.touched}"
                  #toMonth1="ngModel" class="form-control">
                  <option value="">Select Month</option>
                  <option *ngFor="let mon of ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']" [value]="mon">{{mon}}</option>
                </select>
                <div *ngIf="!toMonth1.valid && toMonth1.touched" style="color:red">
                  month is required
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <label for="toYear">
                  <span>&nbsp;</span>
                </label>
                <select required [(ngModel)]="toYear" name="toYear" [ngClass]="{'red-border-class': !toYear1.valid && toYear1.touched}" #toYear1="ngModel"
                  class="form-control">
                  <option value="">Select Year</option>
                  <option *ngFor="let year of yearList" [value]="year">{{year}}</option>
                </select>
  
                <div *ngIf="!toYear1.valid && toYear1.touched" style="color:red">
                  year is required
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-4">
  
                <label for="univercityID">University / Board
                  <span style="color:red">*</span>
                </label>
                <select required [(ngModel)]="univercityID" name="univercityID" [ngClass]="{'red-border-class': !univercityID1.valid && univercityID1.touched}"
                  #univercityID1="ngModel" class="form-control">
                  <option value="">Select University / Board</option>
                  <option *ngFor="let unv of univercityList" [value]="unv.universityID">{{unv.univercityName}}</option>
                </select>
                <div *ngIf="!univercityID1.valid && univercityID1.touched" style="color:red">
                  University / Board is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="collegeName">College Name
                  <span style="color:red">*</span>
                </label>
                <input type="text" class="form-control" required [(ngModel)]="collegeName" name="collegeName" [ngClass]="{'red-border-class': !collegeName1.valid && collegeName1.touched}"
                  #collegeName1="ngModel">
                <div *ngIf="!collegeName1.valid && collegeName1.touched" style="color:red">
                  College is required
                </div>
              </div>
              <div class="col-sm-4 form-group">
                <label for="comments">
                  <span>comments</span>
                </label>
                <input type="text" class="form-control" required [(ngModel)]="comments" name="comments" [ngClass]="{'red-border-class': !comments1.valid && comments1.touched}"
                  #comments1="ngModel">
                <div *ngIf="!comments1.valid && comments1.touched" style="color:red">
                  comments is required
                </div>
              </div>
  
  
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" [disabled]="!newEducationForm.form.valid">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
          </div>
        </form>
      </div>
    
      
    </div>