
<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
            
              
        <div class="col-md-4 mx-auto">
              <div class="card-group">
                <div class="card p-4">
                  <div class="card-body">
                      <form [formGroup]="changePasswordForm" class="login-container" (ngSubmit)="cangePassword()">
                      <p class="text-muted"><b>Change Password</b></p>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text" [ngClass]="{ 'red-border-class': isSubmitted && formControls.email.errors }"><i class="icon-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="email"   formControlName="email" [ngClass]="{ 'red-border-class': isSubmitted && formControls.email.errors }">
                       
                      </div>
                      <div *ngIf="isSubmitted && formControls.email.errors" >
                          <div *ngIf="formControls.email.errors.required" style="color:white">Email is required</div>
                          <div *ngIf="formControls.email.errors.email" style="color:white">Email must be a valid email address</div>

                      </div>
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text" [ngClass]="{ 'red-border-class': isSubmitted && formControls.email.errors }"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password" [ngClass]="{ 'red-border-class': isSubmitted && formControls.password.errors }">
                      </div>
                      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                          <div *ngIf="formControls.password.errors.required" style="color:white">Password is required</div>
                          <div *ngIf="formControls.password.errors.minlength" style="color:white">Must be 8 characters</div>
                          <div *ngIf="formControls.password.errors.pattern" style="color:white">Password must be 1 digit 1 lower and 1 upper  is required  </div>
                          
                        </div>
                      <div class="input-group mb-2">
                          <div class="input-group-prepend">
                            <span class="input-group-text" [ngClass]="{ 'red-border-class': isSubmitted && formControls.cnfpassword.errors }"><i class="icon-lock"></i></span>
                          </div>
                          <input type="password" class="form-control" formControlName="cnfpassword" placeholder="Confirm Password" [ngClass]="{ 'red-border-class': isSubmitted && formControls.cnfpassword.errors }" autocomplete="current-password" required>
                        </div>
                        <div *ngIf="isSubmitted && formControls.cnfpassword.errors" class="help-block">
                          <div *ngIf="formControls.cnfpassword.errors.required" style="color:white">Confirm Password is required</div>
                          <div *ngIf="formControls  .cnfpassword.errors.mustMatch" style="color:white">Passwords must match</div>
  
                        </div>
                      <div class="row">
                        <div class="col-md-3" >
                          <button type="submit" style="white-space: nowrap" class="btn btn-primary px-4">Change Password</button>
                        </div>
                        
                      </div>
                    </form>
                  </div>
               
                </div>
              
              </div>
            </div>
      </div>
  </div>
</main>
</div>