<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
<!-- <div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-user"></i>User Registration
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
              <i class={{iconCollapse}}></i>
            </button>
          </div>
        </div>

        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed" class="card-body">
          <div class="row">
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="firstname">First Name
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': isSubmitted && f.firstname.errors }" >
                <div *ngIf="isSubmitted && f.firstname.errors" class="invalid-feedback">
                    <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    <div *ngIf="f.firstname.errors.pattern">Only alphabet is allow</div>
                </div>
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="middlename">Middele Name</label>
                <input type="text" class="form-control" formControlName="middlename">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="lastname">Last Name
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control" formControlName="lastname" [ngClass]="{ 'is-invalid': isSubmitted && f.lastname.errors }">
                <div *ngIf="isSubmitted && f.lastname.errors" class="invalid-feedback">
                    <div *ngIf="f.lastname.errors.required">First Name is required</div>
                    <div *ngIf="f.lastname.errors.pattern">Only alphabet is allow</div>
                    
                </div>
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="lastname">Gender
                  <font color="red">*</font>
                </label>
                <select type="text" class="form-control">
                  <option value="">Please Select</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2 form-group">
                <div class="form-group">
                  <label for="doj">D.O.J
                    <font color="red">*</font>
                  </label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <div class="form-group">
                  <label for="dob">D.O.B
                    <font color="red">*</font>
                  </label>
                  <input type="text" class="form-control">
                </div>
              </div>
          </div>
        
          <div class="row">
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="doj">D.O.J
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="dob">D.O.B
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="email">Email
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-2 form-group">
              <div class="form-group">
                <label for="mobileno">Mobile No
                  <font color="red">*</font>
                </label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-2 form-group">
                <div class="form-group">
                  <label for="doj">Pan No</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-sm-2 form-group">
                <div class="form-group">
                  <label for="dob">Aadhaar No
                    <font color="red">*</font>
                  </label>
                  <input type="text" class="form-control">
                </div>
              </div>
          </div>
        
          <div class="row">
           
            <div class="col-sm-2 form-group">
             <div class="form-group">
                <label for="lastname">Material Status
                  <font color="red">*</font>
                </label>
                <select type="text" class="form-control">
                  <option value="">Please Select</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>

              </div> 
               
                <webcam [height]="200" [width]="250" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
                  
                  [imageQuality]="1" ></webcam>
              
            </div>
            <div class="col-sm-2 form-group">
              <label>&nbsp;&nbsp;</label>
                <input type="button" style="margin-top:30%" (click)="triggerSnapshot();" class="btn btn-danger"  value="Take Image">
              </div>
            <div class="col-sm-2 form-group">
              <div class="snapshot" *ngIf="webcamImage">
                  <img [src]="webcamImage.imageAsDataUrl" width="250" height="200"/>
                </div>
            </div>
        
          </div>
        
          <div class="row">
             
          </div>
        </div>

        <div class="card-footer">
         <input type="submit" style="float: right"  class="btn btn-primary"  value="submit">
        </div>
      </div>
    </form>
    </div>

  </div>
 
</div>-->

<div class="app-body" style="background-image: url(assets/img/hrms-main.jpg);background-repeat: repeat;">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row">
           

          <div class="col-md-8 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                    <form [formGroup]="regForm" class="login-container" (ngSubmit)="register()">
                        <h3 class="text-muted" style="white-space: nowrap">User Management System</h3>
                    <p class="text-muted">User Registration</p>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" class="form-control" placeholder="email"   formControlName="email" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                     
                    </div>
                    <div *ngIf="isSubmitted && formControls.email.errors" >
                        <div *ngIf="formControls.email.errors.required" style="color:white">Email is required</div>
                        <div *ngIf="formControls.email.errors.email" style="color:white">Email must be a valid email address</div>
                     </div>
                    <div class="input-group mb-2">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" formControlName="password" class="form-control" placeholder="Password" autocomplete="current-password" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
                    </div>
                    <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                        <div *ngIf="formControls.password.errors.required" style="color:white">Password is required</div>
                      </div>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="icon-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="cnfpassword" placeholder="Confirm Password" autocomplete="current-password" required>
                      </div>
                      <div *ngIf="isSubmitted && formControls.cnfpassword.errors" class="help-block">
                        <div *ngIf="formControls.cnfpassword.errors.required" style="color:white">Confirm Password is required</div>
                        <div *ngIf="formControls  .cnfpassword.errors.mustMatch" style="color:white">Passwords must match</div>

                      </div>
                    <div class="row">
                      <div class="col-6" >
                        <button type="submit" class="btn btn-primary px-4">Register</button>
                      </div>
                      
                    </div>
                  </form>
                </div>
             
              </div>
              <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                <div class="card-body text-center">
                  <div>
                  
                    <p>Login with Social network</p>
                    <p><button type="button" class="btn btn-danger px-4" (click)="signInWithFB()" >Gmail</button></p>
                    <p><button type="button" class="btn btn-info px-4" (click)="signInWithFB()">FaceBook</button></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
        </div>
      </div>
    </main>
  </div>