<div class="row">
  <div class="col-lg-12">

    <div class="card">
      <div class="card-header">
        <i class="icon-people"></i>{{headerTitle}}
      </div>
      <form #newsubmenuForm="ngForm" (ngSubmit)="onSubmit(newsubmenuForm)">
        <div class="card-body">
           <div class="row">
             <div class="form-group col-sm-3">
                 <label for="subMenuID">Sub Menu ID <span style="color:red">*</span></label>
                 <input type="text" class="form-control" required [(ngModel)]="subMenuID" name="subMenuID"
                    [ngClass]="{'red-border-class': !subMenuID1.valid && subMenuID1.touched}" #subMenuID1="ngModel">
                 <div *ngIf="!subMenuID1.valid && subMenuID1.touched" style="color:red">
                    submenu id is required
                 </div>
              </div>
              <div class="form-group col-sm-3">
                 <label for="submenuname">Sub Menu Name <span style="color:red">*</span></label>
                 <input type="text" class="form-control" required [(ngModel)]="submenuname" name="submenuname"
                    [ngClass]="{'red-border-class': !submenuname1.valid && submenuname1.touched}" #submenuname1="ngModel">
                 <div *ngIf="!submenuname1.valid && submenuname1.touched" style="color:red">
                    submenu name is required
                 </div>
              </div>
              <div class="form-group col-sm-3">
                  <label for="submenu"> Menus <span style="color:red">*</span></label>
                  <select required [(ngModel)]="menuID"  name="submenu"
                    [ngClass]="{'red-border-class': !submenu1.valid && submenu1.touched}" #submenu1="ngModel"
                    class="form-control">
                    <option value="">Select skill</option>
                    <option *ngFor="let menu of menuList" [value]="menu.menuID">{{menu.menuName}}</option>
                  </select>
                  <div *ngIf="!submenu1.valid && submenu1.touched" style="color:red">
                    Skill Name is required
                  </div>
                </div>
                <div class="form-group col-sm-3">
                  <label for="role"> Role <span style="color:red">*</span></label>
                  <select required [(ngModel)]="role"  name="role"
              [ngClass]="{'red-border-class': !role1.valid && role1.touched}" #role1="ngModel"
              class="form-control">
              <option value="">Select ROle</option>
              <option *ngFor="let role of roleList" [value]="role.roleID">{{role.roleName}}</option>
            </select>
                  <div *ngIf="!role1.valid && role1.touched" style="color:red">
                   role Name is required
                  </div>
                </div>
           </div>
        </div>
        <div class="card-footer">
           <button type="submit" class="btn btn-primary" [disabled]="!newsubmenuForm.form.valid">Submit</button>
           <button type="reset" class="btn btn-warning">Reset</button>
        </div>
     </form>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >
   </ngx-loading>
   <div *ngIf="subMenuList?.length > 0">
      <div class="card">
         <div class="card-header">
            <i class="icon-people"></i> SubMenu Details
            <div class="card-header-actions">
               <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
                  <i class={{iconCollapse}}></i>
               </button>
            </div>
         </div>

         <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"
            class="card-body">
            <div class="form-group row">
               <div class="col-md-12">
                  <div class="input-group">
                     <span class="input-group-prepend">
                        <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                     </span>
                     <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                        [(ngModel)]="searchText" class="form-control" placeholder="Search">
                     <span class="input-group-append">
                        <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                     </span>
                  </div>
               </div>
             
            </div>
            <div class="card-body table-responsive" style="padding: 0.25rem !important">
               <table class="table table-bordered table-striped table-sm">
                  <thead style="background-color: #63c2de;color: white;">
                     <tr>
                       <th>Sr.</th> 
                        <th>Sub Menu</th>
                        <th>Menu Name</th>
                        <th>UserRole Name</th>
                        <th>Created On</th>
                        <th>Created By</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                      <tr
                        *ngFor="let menu of subMenuList | grdFilter:{menuName:searchText} | paginate: { itemsPerPage: initialPageSize, currentPage: p }; let i = index">
                       <td> {{ initialPageSize * (p - 1) + i+1 }}</td> 
                        <td>{{menu.subMenuName}}</td>
                        <td>{{menu.menuName}}</td>
                        <td>{{menu.roleName}}</td>
                        <td>{{menu.createdDate  | date: 'MM/dd/yyyy'}}</td>
                        <td>{{menu.createdBy}}</td>
                        <td>
                           <span><button class="badge badge-danger"
                                 (click)="opensubmenuModal(template, menu);">Delete</button></span>
                        </td>
                     </tr> 
                  </tbody>
               </table>
               <pagination-controls class="my-pagination" (pageChange)="p = $event" *ngIf="subMenuList?.length > 5">
               </pagination-controls> 
            </div>
         </div>
      </div>

   </div>
  </div>
</div>
<ng-template #template>
   <div class="modal-body text-center">
         <p>Do you want to delete {{message}} sub menu</p>
         <button type="button" class="btn btn-success" (click)="confirm()">Yes</button>
         <button type="button" class="btn btn-primary" (click)="decline()">No</button>
   </div>
</ng-template>