/* .ng-invalid.ng-touched:not(form) {
   
  } */
  .red-border-class{
    border: 1px solid red;
    box-shadow: 2px 1px 2px 0px red;
  }
  .my-pagination /deep/ .ngx-pagination .current {
    background: red;
  }
  .table thead th {
    white-space: nowrap !important;
}