<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >
</ngx-loading>
<div class="row">
   <div class="col-lg-12">
      <div class="card">
         <div class="card-header">
            <i class="icon-people"></i>Search Employee

         </div>
         <div class="card-body">
            <div class="row">

               <div class="col-lg-12">

                  <div class="force-to-the-bottom" style="text-align: center"  >
                      <div  [style.margin-top]="getMarginTop()"   *ngIf="!searchLabel"> 
              <span style="font-size:6em;font-family: serif;color:#005affb8">S</span>
                 <span style="font-size:6em;font-family: serif;color:#ff00009e">e</span>
                <span style="font-size:6em;font-family: serif;color:#FFC107">a</span>
                <span style="font-size:6em;font-family: serif;color:#005affb8">r</span>
                <span style="font-size:6em;font-family: serif;color:green">c</span>
                <span style="font-size:6em;font-family: serif;color:#f44336">h</span>
                <i class="icon-people" style="font-size:6em;color:#BBB"></i>

            </div> 
                     <div id="logo-default" title="Google" class="show-logo"></div>
                     <tag-input [(ngModel)]="search" id="fakebox-search-icon" [style.margin-right]="getMarginWidth()"
                       [style.margin-left]="getMarginWidth()"
                       
                     style="margin-bottom: 2%;box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);padding-left: 15px;padding-right: 12px;border-radius: 22px;"
                        secondaryPlaceholder=" ">
                        <tag-input-dropdown [autocompleteItems]="searchDrop" [displayBy]="'key'"
                           [identifyBy]="'property'">
                        </tag-input-dropdown>
                     </tag-input>


                     <div class=" form-actions text-center">
                        <label for="search" style="margin-top: 2rem !important"></label>
                        <button type="submit" class="btn btn-primary" [style.margin-bottom]="getMarginWidth()"  (click)="searchEmployee()">Search</button>
                     </div>
                  </div>
               </div>
            </div>



         </div>
      </div>
      <div *ngIf="searchList?.length > 0">
         <div class="card">
            <div class="card-header">
               <i class="icon-people"></i>Skill Details
               <div class="card-header-actions">
                  <button type="button" class="card-header-action btn btn-link btn-minimize" (click)="toggleCollapse()">
                     <i class={{iconCollapse}}></i>
                  </button>
               </div>
            </div>
            <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed"
               class="card-body">
               <div class="form-group row">
                  <div class="col-md-12">
                     <div class="input-group">
                        <span class="input-group-prepend">
                           <button type="button" class="btn btn-primary"><i class="icon-people"></i></button>
                        </span>
                        <input type="text" style="height: calc(2.0625rem + 2px) !important;" id="input3-group2"
                           [(ngModel)]="searchText" class="form-control" placeholder="Search">
                        <span class="input-group-append">
                           <button type="button" class="btn btn-primary"><i class="icon-magnifier"></i></button>
                        </span>
                     </div>
                  </div>

               </div>
               <div class="card-body table-responsive" style="padding: 0.25rem !important">
                  <table class="table table-bordered table-striped table-sm">
                     <thead style="background-color: #63c2de;color: white;">
                        <tr>
                           <th></th>
                           <th>User ID</th>
                           <th>Status</th>
                           <th>Email</th>
                           <th>Name</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr
                           *ngFor="let emp of searchList | grdFilter:{email:searchText, userID:searchText} | paginate: { itemsPerPage: initialPageSize, currentPage: p }; let i = index">
                           <td style="text-align: left"> <button class="badge badge-danger" *ngIf="emp.statusMaster.statusID  === 'APP' || emp.statusMaster.statusID  === 'PRN'">Reject</button>
                              <button class="badge badge-success" *ngIf="emp.statusMaster.statusID  === 'PRN'" (click)="openApproveModalComponent(template, emp)">Approved</button>
                           </td>
                           
                           <td>{{emp.userID}}</td>
                           <td>{{emp.statusMaster.statusName | titlecase}}</td>
                           <td>{{emp.email}}</td>
                           <td>{{emp.firstName}} &nbsp; {{emp.fatherName}} &nbsp; {{emp.lastName}}</td>
                        </tr>
                     </tbody>
                  </table>
                  <pagination-controls class="my-pagination" (pageChange)="p = $event" *ngIf="searchList?.length > 4">
                  </pagination-controls>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--/.col-->
</div>
<ng-template #template>
<div class="modal-body">
   <div class="card">
      <div class="card-header">
                 <i class="icon-people"></i>Approved Details
              </div>
              <form #approvedForm="ngForm" (ngSubmit)="onApproveSubmit(approvedForm)">
          <div class="card-body">
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" >
      </ngx-loading>
             <div class="row">
                <div class="form-group col-sm-12">
                    <label for="email">email id <span style="color:red">*</span></label>
                    <input type="text" maxlength="3"   minlength="3" class="form-control" [disabled]="true" required [(ngModel)]="email" name="email"
                      #email1="ngModel">
                 </div>
              </div>
              <div class="row">
                <div class="form-group col-sm-12">
                    <label for="approve">Status <span style="color:red">*</span></label>
                    <input type="text" maxlength="3"   minlength="3" class="form-control" [disabled]="true" required [(ngModel)]="status" name="approve"
                      #approve1="ngModel">
                 </div>
              </div>
              <div class="row">
              <div class="form-group col-sm-12">
              <label for="role">role <span style="color:red">*</span></label>
              <select required [(ngModel)]="skillId" typeaheadOptionField="code" name="role"
                [ngClass]="{'red-border-class': !role1.valid && role1.touched}" #role1="ngModel"
                class="form-control">
                <option value="">Select skill</option>
                <option *ngFor="let role of roleList" [value]="role.roleID">{{role.roleName}}</option>
              </select>
              <div *ngIf="!role1.valid && role1.touched" style="color:red">
                role is required
              </div>
              </div>
              
              </div>
          </div>
          <div class="card-footer">
             <button type="submit" class="btn btn-primary" [disabled]="!approvedForm.form.valid">Submit</button>
          </div>
       </form>
  </div>
  </div>
</ng-template>
<!--/.row-->