

<div class="row">
  <div class="col-lg-12">
     <div class="card">
        <div class="card-header">
           <i class="icon-people"></i>Add Course

        </div>
        <form #newCourseForm="ngForm" (ngSubmit)="onSubmit(newCourseForm)">
           <div class="card-body">
              <div class="row">
                 <div class="form-group col-sm-3">
                    <label for="courseID">Course ID <span style="color:red">*</span></label>
                    <input type="text" class="form-control" required [(ngModel)]="courseID" name="courseID"
                       [ngClass]="{'red-border-class': !courseID1.valid && courseID1.touched}" #courseID1="ngModel">
                    <div *ngIf="!courseID1.valid && courseID1.touched" style="color:red">
                       course id is required
                    </div>
                 </div>
                 <div class="form-group col-sm-3">
                    <label for="courseName">Course Name <span style="color:red">*</span></label>
                    <input type="text" class="form-control"  required [(ngModel)]="courseName"
                       name="courseName" [ngClass]="{'red-border-class': !courseName1.valid && courseName1.touched}"
                       #courseName1="ngModel">
                    <div *ngIf="!courseName1.valid && courseName1.touched" style="color:red">
                      course name is required
                    </div>
                 </div>
              </div>
           </div>
           <div class="card-footer">
              <button type="submit" class="btn btn-primary" [disabled]="!newCourseForm.form.valid">Submit</button>
              <button type="reset" class="btn btn-warning">Reset</button>
           </div>
        </form>
     </div>
     <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }">
     </ngx-loading>
     <div *ngIf="corurseList?.length > 0">
        <div class="card">
           <div class="card-header">
              <i class="icon-people"></i>Course Details
             
           </div>

           <div 
              class="card-body">
             
              <div class="card-body table-responsive" style="padding: 0.25rem !important">
                 <table class="table table-bordered table-striped table-sm">
                    <thead style="background-color: #63c2de;color: white;">
                       <tr>
                          <th>Sr.</th>
                          <th>Course ID</th>
                          <th>Course Name</th>
                         
                          <th>Created On</th>
                          
                          <th>Action</th>
                       </tr>
                    </thead>
                    <tbody>
                      <tr
                         *ngFor="let cour of corurseList | paginate: { itemsPerPage: initialPageSize, currentPage: p }; let i = index">
                         <td> {{ initialPageSize * (p - 1) + i+1 }}</td>
                         <td>{{cour.courseID}}</td>
                         <td>{{cour.courseName}}</td>
              
                         <td>{{cour.createdDate  | date: 'MM/dd/yyyy'}}</td>
                        
                         <td>
                            
                            <span><button class="badge badge-danger"
                                  (click)="openCourseModal(template, cour.courseID)">Delete</button></span>
                         </td>
                      </tr>
                   </tbody>
                </table>
                <pagination-controls class="my-pagination" (pageChange)="p = $event" >
                </pagination-controls>
              </div>
           </div>
        </div>

     </div>
  </div>
  <ng-template #template>
      <div class="modal-body text-center">
                  
                     <p>Do you want to delete this course {{delCourseID}}?</p>
                     <button type="button" class="btn btn-success" (click)="confirm()">Yes</button>
                     <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                 
            </div>
</ng-template>