<ngx-loading [show]="loading">
</ngx-loading>
<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="icon-people"></i>{{headerTitle}}

      </div>
      <form [formGroup]="userForm" (ngSubmit)="userRegister()">
        <div class="card-body">
          <div class="row" style=" box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 10px" *ngIf="isPerFlg">
            <div class="form-group col-sm-11" style="margin-top: 1rem;">
              <p style="    margin-bottom: 0;">
                <i class="icon-people" style="color:black"></i>
                <span style="padding-left: 1%">{{fullname}}</span>
              </p>
              <p style="    margin-bottom: 0;">
                <i class="icon-phone" style="color:black"></i>
                <span style="padding-left: 1%">{{mobno}}</span>
                <p style="    margin-bottom: 0;">
                  <i class="  icon-envelope-letter" style="color:black"></i>
                  <span style="padding-left: 1%">{{email}}</span>
            </div>
            <div class="form-group col-sm-1" style="margin-top: 1rem;">
              <p style="margin-bottom: 0;">&nbsp;</p>
              <p style="margin-bottom:  0;">
                <i class={{iconCollapse}} (click)="toggleCollapse('P')" style="cursor: pointer;padding: 10px;color:black;box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);font-size: 19px;border-radius: 50%;height: 18%;"></i>
              </p>
              <p style="margin-bottom: 0;"> </p>

            </div>
          </div>
          <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">
            <div class="row" style="margin-top: 1rem;">

              <div class="form-group col-sm-3">
                <label for="firstName">First Name
                  <span style="color:red">*</span>
                </label>
                <input type="text" appCharisAllow class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': isSubmitted  && formControls.firstName.touched && formControls.firstName.errors }">
                <div *ngIf="isSubmitted && formControls.firstName.touched  && formControls.firstName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.firstName.errors.required" style="color:red">First Name is required</div>
                  <div *ngIf="formControls.firstName.errors.minlength" style="color:red">Must be at least 3 characters
                  </div>
                  <div *ngIf="formControls.firstName.errors.maxlength" style="color:red">Not more then 20 characters
                  </div>
                </div>
              </div>

              <div class="form-group col-sm-3">
                <label for="lastName"> Last Name
                  <span style="color:red">*</span>
                </label>
                <input type="text" appCharisAllow class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': isSubmitted && formControls.lastName.touched  && formControls.lastName.errors }">
                <div *ngIf="isSubmitted &&  formControls.lastName.touched && formControls.lastName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.lastName.errors.required" style="color:red">Last Name is required</div>
                  <div *ngIf="formControls.lastName.errors.minlength" style="color:red">Must be at least 3 characters
                  </div>
                  <div *ngIf="formControls.lastName.errors.maxlength" style="color:red">Not more then 15 characters
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="fatherName">Father's Name
                  <span style="color:red">*</span>
                </label>
                <input type="text" appCharisAllow class="form-control" formControlName="fatherName" [ngClass]="{ 'is-invalid': isSubmitted && formControls.fatherName.touched && formControls.fatherName.errors }">
                <div *ngIf="isSubmitted && formControls.fatherName.touched && formControls.fatherName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.fatherName.errors.required" style="color:red">fatherName Name is required
                  </div>
                  <div *ngIf="formControls.fatherName.errors.minlength" style="color:red">Must be at least 3 characters
                  </div>
                  <div *ngIf="formControls.fatherName.errors.maxlength" style="color:red">Not more then 35 characters
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="gender">Gender
                  <span style="color:red">*</span>
                </label>
                <select class="form-control" formControlName="gender" [ngClass]="{ 'is-invalid': isSubmitted && formControls.gender.touched && formControls.gender.errors }">
                  <option value="">Select</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
                <div *ngIf="isSubmitted  && formControls.gender.touched &&  formControls.gender.errors" class="invalid-feedback">
                  <div *ngIf="formControls.gender.errors.required" style="color:red">Gender is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="DOB">Date Of Birth
                  <span style="color:red">*</span>
                </label>
                <input type="text" class="form-control" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" formControlName="dob"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls.dob.touched && formControls.dob.errors }">
                <div *ngIf="isSubmitted && formControls.dob.touched &&  formControls.dob.errors" class="invalid-feedback">
                  <div *ngIf="formControls.dob.errors.required" style="color:red">Date Of Birth is required</div>
                </div>
              </div>

              <div class="form-group col-sm-3">
                <label for="firstName">Maritial Status
                  <span style="color:red">*</span>
                </label>
                <select class="form-control" formControlName="maritial" [ngClass]="{ 'is-invalid': isSubmitted && formControls.maritial.touched && formControls.maritial.errors }">
                  <option value="">Select</option>
                  <option value="M">Married</option>
                  <option value="U">Unmarried</option>
                </select>
                <div *ngIf="isSubmitted && formControls.maritial.touched && formControls.maritial.errors" class="invalid-feedback">
                  <div *ngIf="formControls.maritial.errors.required" style="color:red">Maitial is required</div>
                </div>
              </div>

              <div class="form-group col-sm-3">
                <label for="Date OF Joining">Date Of Joining
                  <span style="color:red">*</span>
                </label>
                <input type="text" class="form-control" formControlName="doj" bsDatepicker [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }"
                  [ngClass]="{ 'is-invalid': isSubmitted && formControls.doj.touched && formControls.doj.errors }">
                <div *ngIf="isSubmitted && formControls.doj.touched && formControls.doj.errors" class="invalid-feedback">
                  <div *ngIf="formControls.doj.errors.required" style="color:red">Date Of Joining is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="firstName">Email Address
                  <span style="color:red">*</span>
                </label>
                <input type="text" class="form-control" formControlName="email" readonly="true">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="contactno">Contact Number
                  <span style="color:red">*</span>
                </label>
                <input type="text" appOnlynumber class="form-control" formControlName="contactno" maxlength="10" [ngClass]="{ 'is-invalid': isSubmitted && formControls.contactno.touched  && formControls.contactno.errors }">
                <div *ngIf="isSubmitted && formControls.contactno.touched && formControls.contactno.errors" class="invalid-feedback">
                  <div *ngIf="formControls.contactno.errors.required" style="color:red">Contact Number is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="guardian"> Guardian Contact Number
                  <span style="color:red">*</span>
                </label>
                <input type="text" appOnlynumber class="form-control" formControlName="guardian" maxlength="10" [ngClass]="{ 'is-invalid': isSubmitted && formControls.guardian.touched  && formControls.guardian.errors }">
                <div *ngIf="isSubmitted && formControls.guardian.touched  && formControls.guardian.errors" class="invalid-feedback">
                  <div *ngIf="formControls.guardian.errors.required" style="color:red">Guardian Number is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="firstName">Aadhar Details </label>
                <input type="text" appOnlynumber class="form-control" maxlength="12" formControlName="aadhaarno" [ngClass]="{ 'is-invalid': isSubmitted && formControls.aadhaarno.touched  && formControls.aadhaarno.errors }">
                <div *ngIf="isSubmitted && formControls.aadhaarno.touched && formControls.aadhaarno.errors" class="invalid-feedback">
                  <div *ngIf="formControls.aadhaarno.errors.minlength" style="color:red">At least 12 digits</div>

                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="firstName">pan Details </label>
                <input type="text" class="form-control" formControlName="pancard" [ngClass]="{ 'is-invalid': isSubmitted && formControls.pancard.touched  && formControls.pancard.errors }">
                <div *ngIf="isSubmitted && formControls.pancard.touched  && formControls.pancard.errors" class="invalid-feedback">
                  <div *ngIf="formControls.pancard.errors.pattern" style="color:red">first 5 characters 4 digits 1 characters
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-sm-3">
                <label for="refererName">Refer Name
                  <span style="color:red">*</span>
                </label>
                <input type="text"  class="form-control" formControlName="refererName" maxlength="10" [ngClass]="{ 'is-invalid': isSubmitted && formControls.refererName.touched  && formControls.refererName.errors }">
                <div *ngIf="isSubmitted && formControls.refererName.touched && formControls.refererName.errors" class="invalid-feedback">
                  <div *ngIf="formControls.refererName.errors.required" style="color:red">Name is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="guardian"> Refer Email Id
                  <span style="color:red">*</span>
                </label>
                <input type="text"  class="form-control" formControlName="refererEmail"  [ngClass]="{ 'is-invalid': isSubmitted && formControls.refererEmail.touched  && formControls.refererEmail.errors }">
                <div *ngIf="isSubmitted && formControls.refererEmail.touched  && formControls.refererEmail.errors" class="invalid-feedback">
                  <div *ngIf="formControls.refererEmail.errors.required" style="color:red">Email is required</div>
                </div>
              </div>
              <div class="form-group col-sm-3">
                <label for="firstName">Refer Cntact No </label>
                <input type="text" appOnlynumber class="form-control" maxlength="10" formControlName="refererContact" [ngClass]="{ 'is-invalid': isSubmitted && formControls.refererContact.touched  && formControls.refererContact.errors }">
                <div *ngIf="isSubmitted && formControls.refererContact.touched && formControls.refererContact.errors" class="invalid-feedback">
                  <div *ngIf="formControls.refererContact.errors.required" style="color:red"> Number is required</div>
                  <div *ngIf="formControls.refererContact.errors.minlength" style="color:red">At least 10 digits</div>
                </div>
              </div>
           
            </div>
            <div class="row col-6" style="text-align: center">
              <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="card">
      <div class="card-header">
        <i class="icon-people"></i>{{addheaderTitle}}
      </div>
      <div class="card-body">
        <div class="row" style=" box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); border-radius: 10px" *ngIf="isAddressFlg">
          <div class="form-group col-sm-11" style="margin-top: 1rem;">
            <p style="margin-bottom: 0;">
              <i class="icon-people" style="color:black"></i>
              <span style="padding-left: 1%">{{fullname}} </span>
            </p>
            <p style="margin-bottom: 0;">
              <i class="icon-phone" style="color:black"></i>
              <span style="padding-left: 1%">{{mobno}}</span> 
              <p style="margin-bottom: 0;">
                <i class="  icon-envelope-letter" style="color:black"></i>
                <span style="padding-left: 1%">{{addr}}</span>
          </div>
          <div class="form-group col-sm-1" style="margin-top: 1rem;">
            <p style="margin-bottom: 0;">&nbsp;</p>
            <p style="margin-bottom:  0;">
              <i class={{iconCollapse1}} (click)="toggleCollapse('A')" style="cursor: pointer;padding: 10px;color:black;box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);font-size: 19px;border-radius: 50%;height: 18%;"></i>
            </p>
            <p style="margin-bottom: 0;"> </p>

          </div>
        </div>
        <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed1">
          <form autocomplete="off"   [formGroup]="addressForm" (ngSubmit)="saveAddress()">
            <div class="row" style="margin-top: 1rem;">
              <div class="form-group col-sm-4">
                <label for="firstName">CityID </label>

                <select class="form-control" formControlName="city" [ngClass]="{ 'is-invalid': isAddrSubmitted && addformControls.city.touched  && addformControls.city.errors }" (change)="onChange($event.target.value)">
                  <option value="" disabled>Select city
                    <span style="color:red">*</span>
                  </option>
                  <option *ngFor="let c of cityList" [value]="c.cityID">{{c.cityName}}</option>
                </select>
                <div *ngIf="isAddrSubmitted && addformControls.city.touched  && addformControls.city.errors" class="invalid-feedback">
                    <div *ngIf="addformControls.city.errors.required" style="color:red">City is required</div>
                  </div>
              </div>
              <div class="form-group col-sm-4">
                <label for="firstName"  >State </label>
                <input type="text" formControlName="state" class="form-control" readonly="true">

              </div>

              <div class="form-group col-sm-4">
                <label for="firstName">Pincode </label>
                <input type="text" appOnlynumber maxlength="6" class="form-control" formControlName="pincode"  [ngClass]="{ 'is-invalid': isAddrSubmitted && addformControls.pincode.touched  && addformControls.pincode.errors }" >
                <div *ngIf="isAddrSubmitted && addformControls.pincode.touched  && addformControls.pincode.errors" class="invalid-feedback">
                    <div *ngIf="addformControls.pincode.errors.required" style="color:red">Pincode is required</div>
                  </div>
             
              </div>
             

            </div>
            <div class="row">
             
              <div class="form-group col-sm-12">
                <label for="Address1">Address1
                  <span style="color:red">*</span>
                </label>
                <input type="text" class="form-control" formControlName="addressDtl" maxlength="250" [ngClass]="{ 'is-invalid': isAddrSubmitted && addformControls.addressDtl.touched  && addformControls.addressDtl.errors }">
                <div *ngIf="isAddrSubmitted && addformControls.addressDtl.touched  && addformControls.addressDtl.errors" class="invalid-feedback">
                  <div *ngIf="addformControls.addressDtl.errors.required" style="color:red">Address is required</div>
                </div>
               <!--  <div style="color: red; font-weight: bold">[note : same as aadhar address ]</div> -->
              </div>
            </div>
            <div class="row col-4" style="text-align: center">
              <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>